.layui-header,
.layui-nav-tree .layui-nav-item,
.layui-side-scroll{
   
    background-image: linear-gradient(to right  , #89f7fe 0%, #fbc2eb 100%)  ;
}
.layui-header{
    height: 62px;
}
.layui-nav .layui-nav-item a ,
.layui-nav-tree .layui-nav-item a{
    color: black;
    font-size: 23px;
    font-family: '楷体';
    font-weight: 700;
}
.layui-nav-tree .layui-nav-item a:hover{
    background-image: linear-gradient(to bottom, #89f7fe 100%, #66a6ff 100%);
}

.layui-icon{
    padding-left: 20px;
}       
iframe{
    width: 100%;
    height: 100%;
}
/* 侧边滚动条 */
.layui-body{
    overflow: hidden;
}
.userinfo{
    display: block;
    text-align: center;
    line-height: 60px;
    /* background-color: #66a6ff; */
}
.text{
    width:50px;
    height: 50px;
    background-color: #66a6ff;
    color: #ffffff;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 50px   ;
    margin-top: 4px;
    font-size:25px;
    font-weight: 400;
    font-family: "宋体";
}
.layui-nav-img{
    width: 50px;
    height: 50px;
    display: none;
}